@import "tailwindcss";

@layer utilities {
    .animate-in {
        animation-fill-mode: both;
    }
}

/* Hide Google Translate Toolbar */
iframe.goog-te-banner-frame {
    display: none !important;
}

body {
    top: 0px !important;
}

.goog-tooltip {
    display: none !important;
}

.goog-te-gadget-simple {
    background-color: transparent !important;
    border: none !important;
}